<div class="flex-container">
    <div class="card">
        <div class="header">
            <h2>Favorit images</h2>
            <div style="display:flex; align-items: flex-start;">
                <button mat-flat-button (click)="toggleButton(!isFavoriteFilter.value)">Favorite</button>
                <mat-form-field appearance="outline">
                    <mat-label>Search image...</mat-label>
                    <input style="color:white" matInput>
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div class="ratio">Images</div>
        <div class="ratio">{{ratio$ | async}}</div>
        <div *ngFor="let image of (allImages$ | async) ">
            <app-image-item [image]="image "></app-image-item>
        </div>
    </div>
</div>